<div class="container">
    <div class="admin__wrapper">
        <div class="admin__wrapper_items">
            <button class="admin__item_btn" routerLink="exercise" routerLinkActive="admin__item_active" type="button">Exercise</button>
            <button class="admin__item_btn" routerLink="category" routerLinkActive="admin__item_active" type="button">Category</button>
            <button (click)="logout()" class="admin__exit" type="button">Exit</button>
        </div>
        <div class="admin__wrapper_content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
