@import '../shared/styles/variables';
@import '../shared/styles/base';
@import '../shared/styles/mixins';

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}
.admin {

		&__wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;

			&_items {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
			}

			&_content {
			}
		}

        &__exit {
            width: 140px;
            height: 42px;
            background: $primary;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            color: $white;
            cursor: pointer;
            outline: none;
        }

		&__item {

			&_btn {
                width: 140px;
                height: 42px;
                background: $primary;
                border: none;
                border-radius: 6px;
                font-size: 20px;
                color: $white;
                cursor: pointer;
                outline: none;
			}
		}
}

.admin__item_active {
    border: none;
    border-top: 5px solid $primary;
    font-weight: 700;
    color: $black;
    outline: none;
}
